src/test/resources/todoGET.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">
    <xs:element name="todos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="todo" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="doneStatus"/>
                            <xs:element type="xs:string" name="description"/>
                            <xs:element type="xs:byte" name="id"/>
                            <xs:element type="xs:string" name="title"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>